[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
pandas = "*"
matplotlib = "*"
descartes = "*"
geopandas = "*"
shapely = "*"
geopy = "*"
xlrd = "*"
numba = "*"
geoplot = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
